@import '../../../../styles/colors';

.item {
  cursor: pointer;
  padding: 12px 4px;
  border-bottom: 1px solid $gray-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  transition: .1s ease-in-out;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.12);
    transition: box-shadow .1s ease-in-out;
    border-bottom-color: transparent;
  }
}

.left {
  display: flex;
  align-items: center;
  overflow: hidden; 
}

.favoriteBtn {
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.name {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  min-width: 100px;
}

.icon {
  width: 32px;
  height: 32px;
}
