@import '../../styles/colors';

.panel {
  padding: 16px;
}

.gray {
  background-color: $gray-light;
  border-radius: 6px;
}

.white {
  background-color: $white;
  border: 1px solid $gray-light-2;
  box-shadow: none;
  transition: .3s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.12);
    transition: box-shadow .3s ease-in-out
  }
}
