@import '../../styles/colors';

.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
}

.input {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border: 1px solid $black;
  border-radius: 4px;
  height: 38px;
  padding-left: 10px;
  box-sizing: border-box;

  &:disabled {
    background-color: $gray-light-2;
  }
}

.error {
  font-size: 12px;
  color: $red;
}
