$blue-dark: #2b3642;
$blue: #0574C5;
$red: #FE5F5F;
$white: #FFF;
$white-dark: #F1F1F1;
$gray: #858585;
$gray-light: #C4C4C4;
$gray-light-2: #F6F8FA;
$red-dark: #E20026;
$red-light: #F5EEEE;
$black: #000;
$black-2: #262626;
$black-3: #494857;
