@import '../../styles/colors';
@import '../../styles/media';

.wrapper {
  max-width: 800px;
  width: 60vw;
}

.searchWrapper {
  height: 86px;
  box-sizing: border-box;
}

@media screen and (max-width: $phone) {
  .wrapper {
    width: 80vw;
  }
}
