@import "../../styles/colors";

.button {
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover path {
    fill: $yellow-dark;
    stroke: $yellow-dark;
  }
}

.active {
  path {
    fill: $yellow;
    stroke: $yellow;
  }
}
