@import "../../styles/colors";
@import "../../styles/media";


.button {
  cursor: pointer;
  border: none;
  padding: 0;
}

.active {
  path {
    fill: $yellow;
    stroke: $yellow;
  }
}

@media screen and (min-width: $desktop) {
  .button {
    &:hover path {
      fill: $yellow-dark;
      stroke: $yellow-dark;
    }
  }
}
