@import '../../styles/colors';
@import '../../styles/media';

.wrapper {
  position: relative;
  max-width: 500px;
  width: 60vw;
  min-height: 60vh;
  display: flex;
  flex-flow: column wrap;
  // justify-content: center;
}

.goHome {
  position: absolute;
  left: 5px;
  top: 5px;
}

.favorite {
  position: absolute;
  right: 5px;
  top: 5px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.header {
  display: flex;
  border-bottom: 1px solid $gray-light-2;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;

  & div {
    &:first-child {
      padding-right: 10px;
    }

    &:last-child {
      padding-left: 10px;
      border-left: 1px solid $gray-light-2;
    }
  }
}

.icon {
  width: 64px;
  height: 64px;
}

.body {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $phone) {
  .wrapper {
    width: 80vw;
  }
}
