@import '../../styles/colors';
@import '../../styles/media';

.wrapper {
  position: relative;
  max-width: 500px;
  width: 60vw;
  min-height: 60vh;
  display: flex;
  flex-flow: column wrap;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

@media screen and (max-width: $phone) {
  .wrapper {
    width: 80vw;
  }
}
